<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Welcome to the Actor's Page</h1>
   <table>
   
    <tr th:each="actor : ${actors}">
        <td th:text="${actor.actor_id}">Actor ID</td>
        <td th:text="${actor.first_name}">First Name</td>
        <td th:text="${actor.last_name}">Last Name</td>
        <td th:text="${actor.last_update}">Last Update</td>
          
    
    </tr>
   
   </table>

</body>
</html>